<nav *ngIf="user != null" class="navbar navbar-expand-lg navbar-dark bg-custom">
    <a href="#" class="navbar-brand">Bug Tracker Lite</a>
    <div class="title">
        <div class="title-left"></div>
        <div class="title-center">{{ user.name }}</div>
        <div class="title-right"></div>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse8">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a routerLink="/kanban" class="nav-link">Kanban</a>
            </li>
            <li class="nav-item dropdown" *ngIf="true || user.role.includes('admin')">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="adminDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="adminDropdown">
                    <a routerLink="/users" class="dropdown-item">Users</a>
                    <a routerLink="/codes" class="dropdown-item">Codes</a>
                    <a routerLink="/items" class="dropdown-item">Items</a>
                </div>
            </li>
            <li class="nav-item">
                <a routerLink="/reports" class="nav-link">Reports</a>
            </li>
            <li class="nav-item">
                <a routerLink="/" (click)="logout()" class="nav-link logout">logout</a>
            </li>
        </ul>
    </div>
</nav>
