<div class="users-container">
    <div class="title">
        <h4>Admin / Users</h4>
        <div class="plus">
            <button class="btn-add" data-title="Add" data-toggle="modal" data-target="#edit" (click)="onEditRow(-1)">
                <i class="fa fa-plus fa-xs"></i>
            </button>
        </div>
    </div>
    <div class="main-table" *ngIf="!loading">
        <ngx-datatable
            #userTable
            class="bootstrap striped"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [rows]="users"
            [columns]="columns"
            [headerHeight]="43"
            rowHeight="35"
            [reorderable]="reorderable"
        >
            <ngx-datatable-column
                name="Id"
                prop="id"
                [cellClass]="'id'"
                [width]="10"
                [frozenLeft]="true"
            ></ngx-datatable-column>
            <ngx-datatable-column name="User Name" prop="username"></ngx-datatable-column>
            <ngx-datatable-column name="Full Name" prop="name"></ngx-datatable-column>
            <ngx-datatable-column name="Email" prop="email"></ngx-datatable-column>
            <ngx-datatable-column name="Role" prop="role"></ngx-datatable-column>
            <ngx-datatable-column name="Edit" prop="id">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <button
                        class="btn-edit"
                        data-title="Edit"
                        data-toggle="modal"
                        data-target="#edit"
                        (click)="onEditRow(value)"
                    >
                        <i class="fa fa-pencil fa-xs"></i>
                    </button>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Delete" prop="id">
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                    <button class="btn-delete" data-title="Delete" data-toggle="modal" data-target="#delete">
                        <i class="fa fa-trash fa-xs"></i>
                    </button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>

<!-- edit modal -->
<div
    *ngIf="model != null"
    class="modal fade"
    id="edit"
    tabindex="-1"
    role="dialog"
    aria-labelledby="editLabel"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <form (ngSubmit)="onSubmit(closeButton)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="label" for="id">Id</label>
                        <input
                            type="text"
                            class="form-control input-sm disabled"
                            id="id"
                            name="id"
                            [(ngModel)]="model.id"
                            READONLY
                        />
                    </div>
                    <div class="form-group">
                        <label class="label" for="username">User Name</label>
                        <input
                            type="text"
                            class="form-control input-sm"
                            id="username"
                            name="username"
                            placeholder="User Name"
                            [(ngModel)]="model.username"
                        />
                    </div>
                    <div class="form-group">
                        <label class="label" for="name">Full Name</label>
                        <input
                            type="text"
                            class="form-control input-sm"
                            id="name"
                            name="name"
                            placeholder="Full Name"
                            [(ngModel)]="model.name"
                        />
                    </div>
                    <div class="form-group">
                        <label class="label" for="email">Email</label>
                        <input
                            type="text"
                            class="form-control input-sm"
                            id="email"
                            name="email"
                            placeholder="Email"
                            [(ngModel)]="model.email"
                        />
                    </div>
                    <div class="form-group">
                        <label class="label" for="role">Role</label>
                        <select class="form-control" id="role" name="role" [(ngModel)]="model.role">
                            <option [ngValue]="r" *ngFor="let r of USER_CRUD_SPEC.role.source">
                                {{ r }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button #closeButton type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
