.item-card {
    border-radius: 4px;
    box-shadow: 2px 2px #ccc;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    .item-card-body {
        padding: 0px 8px;
        .header {
            padding: 5px 0px;
            display: grid;
            grid-template-columns: 95% auto;
            .title {
                .id {
                    color: #ccc;
                }
            }
            .handle {
                cursor: pointer;
                .btn-edit {
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    background-color: #ccf;
                }
                .icon {
                    height: 12px;
                    width: 12px;
                }
            }
        }
        .item-card-text {
            font-weight: 400;
            color: #ccc;
            .codes {
                display: flex;
                .code {
                    border: 1px solid #eee;
                    font-size: 1.2vh;
                    text-align: center;
                    text-transform: uppercase;
                    padding: 4px;
                    margin-right: 5px;
                    .badge {
                        padding: 4px 10px;
                    }
                }
            }
        }
    }
}
#edit {
    font-size: 0.75vw;
    .modal-content {
        padding: 10px 40px;
    }
    .controlrow {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    }
    .form-group {
        padding: 0;
        margin: 8px 0px 0px 0px;
    }
    .label {
        color: #444;
        margin: 2px 0px;
    }
    .form-control {
        color: maroon;
    }
    input,
    textarea,
    select {
        padding: 2px;
        background-color: #ffe;
    }
    .disabled {
        background-color: #eee;
    }
}
