<div class="item-card">
    <div class="item-card-body">
        <div class="header">
            <div class="title">
                <span class="id">[{{ item.id }}]</span> {{ item.title }}
            </div>
            <div class="handle">::</div>
        </div>
        <div class="item-card-text">
            <div class="codes">
                <div class="code">
                    Priority<br />
                    <span class="badge badge-pill" [ngClass]="getCodeClass('priority', item.prioritycode)">
                        {{ item.prioritycode }}</span
                    >
                </div>
                <div class="code">
                    Size<br />
                    <span class="badge badge-pill" [ngClass]="getCodeClass('size', item.sizecode)">
                        {{ item.sizecode }}</span
                    >
                </div>
                <div class="code">
                    Status<br />
                    <span class="badge badge-pill" [ngClass]="getCodeClass('status', item.statuscode)">
                        {{ item.statuscode }}</span
                    >
                </div>
            </div>
        </div>
    </div>
</div>
