/* You can add global styles to this file, and also import other style files */

/*
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
*/

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Segoe UI';
}
.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.1rem#ffc;
}
