.home-container {
    max-height: 100%;
    overflow: hidden;
    .header {
        display: grid;
        grid-template-columns: 80% auto;
        padding: 10px;
        .title {
            h5 {
                color: #b84;
                .boardcode {
                    color: white;
                    background-color: #b84;
                    text-transform: uppercase;
                    padding: 0px 6px;
                }
            }
        }
        .select {
            color: #788;
            text-align: right;
            .text {
                margin-right: 10px;
            }
            margin: 3px 0px;
            text-align: center;
            color: #788;
            #boardcode {
                border: 1px solid #ccc;
                color: #788;
                width: 5vw;
                padding: 0;
            }
        }
    }
    .main {
        height: auto;
        display: grid;
        grid-gap: 0rem;
        grid-template-columns: repeat(4, 1fr);
        background-color: #eee;
        padding: 0px 20px;
        color: #788;
        .column {
            height: calc(100vh - 130px);
            .header {
                display: grid;
                grid-template-columns: 90% auto;
                padding: 10px 20px;
                font-weight: 700;
                .btn-edit {
                    line-height: 14px;
                    cursor: pointer;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    background-color: #d93;
                    color: white;
                    .icon {
                        height: 14px;
                        width: 12px;
                    }
                }
                .btn-edit:focus {
                    outline: 0;
                }
            }
            .items {
                list-style-type: none;
                margin: 5px;
                padding: 0px 10px;
                font-size: 1.75vh;
                font-weight: 600;
            }
        }
    }
}
#edit {
    font-size: 0.75vw;
    .modal-content {
        padding: 10px 40px;
    }
    .controlrow {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    }
    .form-group {
        padding: 0;
        margin: 8px 0px 0px 0px;
    }
    .label {
        color: #444;
        margin: 2px 0px;
    }
    .form-control {
        color: maroon;
    }
    input,
    textarea,
    select {
        padding: 2px;
        background-color: #ffe;
    }
    .disabled {
        background-color: #eee;
    }
}

:host ::ng-deep .ngx-datatable .datatable-body {
    max-height: calc(100vh - 140px) !important;
    overflow: hidden auto;
}

:host ::ng-deep .datatable-header-cell {
    padding: 5px 0px !important;
    margin: 0px !important;
    background-color: #ffc !important;
    border-bottom: 1px solid #888 !important;
}

:host ::ng-deep .datatable-body-cell:first-child {
    text-align: left;
}

:host ::ng-deep .datatable-row-even {
    background-color: rgba(0, 0, 0, 0.05);
}

:host ::ng-deep .datatable-body-cell {
    padding: 0px !important;
    margin: 0px !important;
}
.isinvalid {
    border: 2px solid #fcc;
}
