<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<div class="home-container">
    <form>
        <div class="header">
            <div class="title">
                <h5>
                    Kanban Board - <span class="boardcode">{{ boardCode }}</span>
                </h5>
            </div>
            <div class="select" *ngIf="!loading">
                <span class="text">Kanban Board</span>
                <select
                    class="form-control-inline form-control-sm"
                    id="boardcode"
                    name="boardcode"
                    [(ngModel)]="boardCode"
                    (change)="onBoardChange()"
                >
                    <option [ngValue]="bc.code" *ngFor="let bc of boards">
                        {{ bc.code }}
                    </option>
                </select>
            </div>
        </div>
        <div class="main" *ngIf="!loading">
            <div class="column">
                <div class="header">
                    <div class="title">Open Items</div>
                    <div>+</div>
                </div>
                <ul class="open-items items">
                    <li *ngFor="let item of getBoardItems('Open'); index as i; trackBy: trackByItemId1">
                        <app-item [item]="item"></app-item>
                    </li>
                </ul>
            </div>
            <div class="column">
                <div class="header">
                    <div class="title">Assigned</div>
                    <div>+</div>
                </div>
                <ul class="open-items items">
                    <li *ngFor="let item of getBoardItems('Assigned'); index as i; trackBy: trackByItemId2">
                        <app-item [item]="item"></app-item>
                    </li>
                </ul>
            </div>
            <div class="column">
                <div class="header">
                    <div class="title">In Review</div>
                    <div>+</div>
                </div>
                <ul class="open-items items">
                    <li *ngFor="let item of getBoardItems('Review'); index as i; trackBy: trackByItemId2">
                        <app-item [item]="item"></app-item>
                    </li>
                </ul>
            </div>
            <div class="column">
                <div class="header">
                    <div class="title">Completed</div>
                    <div>+</div>
                </div>
                <ul class="open-items items">
                    <li *ngFor="let item of getBoardItems('Closed'); index as i; trackBy: trackByItemId2">
                        <app-item [item]="item"></app-item>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
