<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<div class="home-container">
    <form>
        <div class="header">
            <div class="title">
                <h5>Kanban Board</h5>
            </div>
            <div class="select" *ngIf="!loading">
                <span class="text">Kanban Board</span>
                <select
                    class="form-control-inline form-control-sm"
                    id="boardcode"
                    name="boardcode"
                    [(ngModel)]="boardCode"
                    (change)="onBoardChange()"
                >
                    <option [ngValue]="bc.code" *ngFor="let bc of boards">
                        {{ bc.code }}
                    </option>
                </select>
            </div>
        </div>
        <div class="main" *ngIf="!loading">
            <div class="column">
                <div class="header">
                    <div class="title">Open Items</div>
                    <div>+</div>
                </div>
                <ul class="open-items items">
                    <li *ngFor="let item of boardItems; index as i; trackBy: trackByItemId">
                        <div class="item-card">
                            <div class="item-card-body">
                                <div class="header">
                                    <div class="title">
                                        <span class="id">[{{ item.id }}]</span> {{ item.title }}
                                    </div>
                                    <div class="handle">::</div>
                                </div>
                                <div class="item-card-text">
                                    <div class="codes">
                                        <div class="code">
                                            Priority<br />
                                            <span
                                                class="badge badge-pill"
                                                [ngClass]="getCodeClass('priority', item.prioritycode)"
                                            >
                                                {{ item.prioritycode }}</span
                                            >
                                        </div>
                                        <div class="code">
                                            Size<br />
                                            <span
                                                class="badge badge-pill"
                                                [ngClass]="getCodeClass('size', item.sizecode)"
                                            >
                                                {{ item.sizecode }}</span
                                            >
                                        </div>
                                        <div class="code">
                                            Status<br />
                                            <span
                                                class="badge badge-pill"
                                                [ngClass]="getCodeClass('status', item.statuscode)"
                                            >
                                                {{ item.statuscode }}</span
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="column">
                <div class="header">
                    <div class="title">Assigned</div>
                    <div>+</div>
                </div>
                <ul class="open-items items">
                    <li *ngFor="let item of boardItems; index as i; trackBy: trackByItemId"></li>
                </ul>
            </div>
            <div class="column">
                <div class="header">
                    <div class="title">In Review</div>
                    <div>+</div>
                </div>
                <ul class="open-items items">
                    <li *ngFor="let item of boardItems; index as i; trackBy: trackByItemId"></li>
                </ul>
            </div>
            <div class="column">
                <div class="header">
                    <div class="title">Completed</div>
                    <div>+</div>
                </div>
                <ul class="open-items items">
                    <li *ngFor="let item of boardItems; index as i; trackBy: trackByItemId"></li>
                </ul>
            </div>
        </div>
    </form>
</div>
